{% extends 'base.html.twig' %}

{% block title %}Importation de données!{% endblock %}

{% block body %}

<div class="import-wrapper">

    <a href="{{ path('app_import_new') }}">Importer de nouvelles données</a>



    {% if message %}
    <div class="alert alert-info">{{ message }}</div>
    {% endif %}
    
</div>
{% endblock %}
