{% extends 'base.html.twig' %}

{% block title %}Importation de données de relève{% endblock %}

{% block body %}

<h1>Importation de données de relève</h1>

  
    <div class="alert alert-success">{{ message }}</div>
    

{% endblock %}