<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Konso{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link href="/css/app.css" rel="stylesheet">
        {% endblock %}


        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
                document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, []);
            });
        </script>
        {% endblock %}
    </head>
    <body>
        <nav class="app-navbar">
        <div class="container nav-wrapper">

            <a class="brand-logo" href="#">Konso</a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              
                <li>
                    <a class="nav-link active" aria-current="page" href="{{ path('app_import') }}">Imports</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="{{ path('app_facturation') }}">Facturation</a>
                </li>
            </ul>


        </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li>
                <a class="nav-link active" aria-current="page" href="{{ path('app_import') }}">Imports</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="{{ path('app_facturation') }}">Facturation</a>
            </li>
        </ul>

    <div class="body-container container">
        {% block body %}{% endblock %}
    </div>
    
    </body>
</html>
